html {
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("../imagenes/background.jpg") no-repeat fixed;
}

header > img {
    width: 200px;
    height: auto;
}

.container {
    margin: 0 auto;
    width: 60%;
    background-color: white;
    border: 2px solid black;
    text-align: center;
}

.contenido {
    text-align: left;
    margin: 20px auto 20px auto;
}

main > form {
    padding: 30px;
}

main > form > label {
    font-weight: bold;
}

section {
    margin-bottom: 5px;
    padding: 5px;
}

.estrellas {
    font-size: xx-large;
}

.palabra {
    color: blue;
    background-color: darkgray;
    padding: 2px;
    border: 1px solid blue;
}

.palabra-php {
    color: gray;
    background-color: black;
    padding: 2px;
    border: 1px solid gray;
    font-weight: bold;
}

.dainese > section {
    background-color: lightcoral;
}

.alpinestars > section {
    background-color: lightblue;
}

.ixon > section {
    background-color: lightgrey;
}